@import url("https://fonts.googleapis.com/css2?family=Poppins&family=Roboto:wght@300&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #edf0f1;
}

li,
a,
button {
  font-family: "Poppins";
  font-weight: 700;
  font-size: 16px;
  color: #13131a;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
}

.logo {
  height: 130px;
  width: auto;
  cursor: pointer;
}
.logo-link {
  cursor: pointer;
}

.nav__links {
  list-style: none;
}

.nav__links li {
  display: inline-block;
  padding: 10px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #0088a9;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  margin: 0 10px;
  padding: 0.8em 2.2em;
  font-size: 1em;
  color: #03a47e;
  border: 1.6px solid;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

button:hover {
  background-color: rgba(80, 81, 82, 0.8);
}